{% extends 'shop/layouts/main.html' %}
{% block title %}
Registration | ShopKart
{% endblock title %}
{% block content %}

<div class="container my-7" style="margin-top:70px;min-height: 600px;">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-1">User Login</h1>
            <hr style="border: color #b8b8b8; ">
            {% include 'shop/inc/message.html' %}
        </div>
    </div>
    <section class="py-3 my-5">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="" class="form-label">User Name</label>
                            <input type="text" name="username" id="username" class="form-control"
                                placeholder="Enter User Name">
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">password</label>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="Enter Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}